.mapContainer {
    position: absolute;
    top: 0;
    right: 30vw;
    left: 0;
    bottom: 0;
}
#marker {
    background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
     
.mapboxgl-popup {
max-width: 200px;
}

.marker-element {
    background-color: white;
    color: darkslategray;
    padding: 10px;
    border-radius: 10px;
    border: .4px solid darkslategray;
}

$green: #67B57D;
$green-light: #6FC688;
$green-lighter: #7CD392;

.plant {
  width: 1rem;
  height: .8rem;
  position: relative;
  margin-top: 1.4rem;
  
  &::after, 
  &::before {
    content: '';
    position: absolute;
  }

  &::after {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0.2rem 0.2rem;
    bottom: 0;
    left: 0;
    background-color: #4C8DE8;
  }
  
  &::before {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100%;
    background-color: #F2F7FF;
    opacity: 0.4;
    left: 50%;
    right: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  
  &__leaves {
    width: 40%;
    padding-top: 100%;
    border-radius: 100%;
    background-color: $green;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.8rem;

    &::after,
    &::before {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      content: '';
      position: absolute;
      top: 0;
    }

    &::before {
      background-color: $green-light;
      left: -40%;
      transform: rotate(-40deg);
      animation: plant-left 3s ease infinite;
    }

    &::after {
      background-color: $green-lighter;
      left: 40%;
      transform: rotate(40deg);
      animation: plant-right 3s ease infinite;
    }
  }
}

// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

@keyframes plant-right {
	0% { transform: rotate(40deg) }
	50% { transform: rotate(50deg) }
	100% { transform: rotate(40deg) }
}

@keyframes plant-left {
	0% { transform: rotate(-40deg) }
	50% { transform: rotate(-50deg) }
	100% { transform: rotate(-40deg) }
}


.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  background-color: white;
  border-radius: 10px;
  max-width: 30vw;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

/*
 Styling
*/

.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: darkgray solid 1px;
  // border: 1px solid #e8e8e8;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  // background: #e8e8e8;
}

// .accordion label:hover,
// .accordion label:focus {
//   // 
// }

.accordion .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}

